<tr>
    <th>
        Image
    </th>
    <th>
        Product
    </th>
    <th>
        Quantity
    </th>
</tr>
<tbody>
  <% @order.line_items.each do |item| %>
        <tr>
            <td>
                <img src="<%= item.product.image.tiny.url %>">
            </td>
            <td>
                <%= item.product.name %>
            </td>
            <td>
                <%= item.quantity %>
            </td>
              <td>
                <%= humanized_money_with_symbol item.total_price_cents / 100.0 %>
            </td>
        </tr>
  <% end %>
</tbody>
<tfoot>
    <tr>
        <th colspan="4">
        TOTAL:
        </th>
        <th>
        <%= humanized_money_with_symbol order.total_cents / 100.0 %>
        </th>
    </tr>
</tfoot>